/* es del otro form */

.form {

	position:relative;
	width: 700px;
	height: 370px;
	padding-left: 40px;
	padding-top: 30px;
	background-color: #A9D0F5;
	border-radius: 50px;
	margin: auto;
}

input[type=text],[type=email]{
	width: 470px;
	height: 40px;
	margin-left: 110px;
	font:14px normal normal uppercase helvatica, arial, serif;
}

textarea{
	width: 470px;
	height: 110px;
	font:14px normal normal uppercase helvatica, arial, serif;
}

input[type=submit]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border: 0px;
	background-color: #FE9A2E;
	font:14px normal normal uppercase helvatica, arial, serif;
}

input[type=reset]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 60px;
	border: 0px;
	background-color: #FA5858;
	font:14px normal normal uppercase helvatica, arial, serif;
}

p{
	/*text-shadow: 0 1px 0 #fff;
	font-size: 24px;*/
	text-align: center;
	width: 250px;
	height: 50px;
	border-radius: 20px;
	margin-left: 200px;
	border: 0px;
	background-color: #FE9A2E;
	display: inline-block;
	font:18px normal normal uppercase helvatica, arial, serif;
}


label{
	
	width: 0px;
	margin-bottom: 25px;
	/*margin: 25px 0px 0 0;*/
	display: inline-block;
	font-size: 16px;
	color: black;
	text-transform: uppercase;
}
/*
label{
	display: inline-block;
	font-size: 16px;
	color: black;
	text-transform: uppercase;
	
}*/