.form {

	position:relative;
	width: 500px;
	height: 470px;
	padding-left: 20px;
	padding-top: 30px;
	background-color: #008080;
	border-radius: 50px;
	margin: auto;
}

input [type=text], [type=email]{
	width: 770px;
	height: 305px;
	font:14px normal normal uppercase helvatica, arial, serif;
}

textarea{
	width: 470px;
	height: 110px;
	font:14px normal normal uppercase helvatica, arial, serif;
}

input[type=submit]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 60px;
	border: 0px;
	background-color: #808080;
	font:14px normal normal uppercase helvatica, arial, serif;
}

input[type=reset]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 60px;
	border: 0px;
	background-color: #FF0000;
	font:14px normal normal uppercase helvatica, arial, serif;
}

p{
	text-shadow: 0 1px 0 #fff;
	font-size: 24px;
}

label{
	margin: 11px 20px 0 0;
	font-size: 16px;
	color: black;
	text-transform: uppercase;
}