/*.quienes{
	color:black;
	width:800px;
	margin-left:50px
}

.vision{
	color:green;
	width:800px;
	margin-left:230px;
}
*/

.textoParrafo{
	font-size: 20px;
	color:black;
	font-family=sans-serif;
	
}

.button {
    background-color: #FF5733;/*#4CAF50;*/ /* Green */
    border: none;
    color: #E5E7E9;/*white;*/
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

.textTitulo{
	color:#EE7D68;/*Orange;*/
	font-family: arial;
	font-size: 30px;
}

.textTitulo2{
	color:green;/*Orange;*/
	font-family: arial;
	font-size: 30px;
}

.textbutton{
	/*color:green;/*Orange;*/	/*font-size: 40px;*/
	height:500px;
	padding-top:20px;
}

/*
.contacto{
	color:black;
	width:800px;
	margin-left:200px
}*/

.menu{
	padding:0;
	background-color:#58ACFA;
	height:45px;
	padding-top:10px;
}

.menu li{
	display:inline;
}

.menu a{
	color:white;
	margin-left:20px;
	text-decoration:none;
	font-size:20px;
}


/* es del otro form */

.form {

	position:center;
	width: 500px;
	height: 470px;
	padding-left: 20px;
	padding-top: 30px;
	background-color: #A9D0F5;
	border-radius: 50px;
	margin: auto;
}

input[type=text],[type=email]{
	width: 470px;
	height: 40px;
	font:14px normal normal uppercase helvatica, arial, serif;
}

textarea{
	width: 470px;
	height: 110px;
	font:14px normal normal uppercase helvatica, arial, serif;
}

input[type=submit]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 60px;
	border: 0px;
	background-color: #FE9A2E;
	font:14px normal normal uppercase helvatica, arial, serif;
}

input[type=reset]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 60px;
	border: 0px;
	background-color: #FA5858;
	font:14px normal normal uppercase helvatica, arial, serif;
}

p{
	text-shadow: 0 1px 0 #fff;
	font-size: 24px;
}

label{
	margin: 11px 20px 0 0;
	font-size: 16px;
	color: black;
	text-transform: uppercase;
}