/*.quienes{
	color:black;
	width:800px;
	margin-left:50px
}

.vision{
	color:green;
	width:800px;
	margin-left:230px;
}
*/

.textoParrafo{
	font-size: 20px;
	color:black;
	font-family=sans-serif;
	
}

.button {
    background-color: #FF5733;/*#4CAF50;*/ /* Green */
    border: none;
    color: #E5E7E9;/*white;*/
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

.textTitulo{
	color:#EE7D68;/*Orange;*/
	font-family: arial;
	font-size: 30px;
}

.textTitulo2{
	color:green;/*Orange;*/
	font-family: arial;
	font-size: 30px;
}

.textbutton{
	/*color:green;/*Orange;*/	/*font-size: 40px;*/
	height:500px;
	padding-top:20px;
}

/*
.contacto{
	color:black;
	width:800px;
	margin-left:200px
}*/

.menu{
	padding:0;
	background-color:#E5E7E9;
	height:45px;
	padding-top:10px;
}

.menu li{
	display:inline;
}

.menu a{
	color:white;
	margin-left:20px;
	text-decoration:none;
	font-size:20px;
}